/* Style for the heading */
.heading {
  text-align: center;
  margin-bottom: 20px;
}

/* Style for the chart container */
.chart-container {
  max-width: 500px;
  margin: 0 auto;
}

.container{
   height:1000px;
   width:2000px;

}